/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
    font-family: 'Inter Variable';
    src: url(./Inter-Variable.woff2) format('woff');
    font-weight: 400;
    font-display: swap;
    font-variation-settings: "wght" 400;
  }
  
  @font-face {
    font-family: 'PressStart2P Regular';
    src: url(./PressStart2P-Regular.woff) format('woff');
    font-weight: 785;
    font-variation-settings: "wght" 785;
    font-display: swap;
  }
  